<h1>Creat a new restaurant</h1>

<form action="/restaurants/create" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="name"><br>
  <label for="description">Description</label><br>
  <textarea name="description" id="" cols="30" rows="10"></textarea><br>
  <input type="submit">
</form>
